n8n/sprint-report-workflow.json
{
  "name": "Sprint Report Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sprint-report-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "sprint-report-trigger"
    },
    {
      "parameters": {
        "functionCode": "// Extract and validate inputs\nconst sprintId = $input.item.json.body.sprint_id;\nconst boardId = $input.item.json.body.board_id || 38;\nconst recipients = $input.item.json.body.recipients || '';\n\nif (!sprintId) {\n  throw new Error('sprint_id is required');\n}\n\nreturn {\n  sprint_id: sprintId,\n  board_id: boardId,\n  recipients: recipients,\n  timestamp: new Date().toISOString()\n};"
      },
      "name": "Parse Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8001/api/sprint-report/generate",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"sprint_id\": \"{{$json.sprint_id}}\",\n  \"board_id\": {{$json.board_id}}\n}"
      },
      "name": "Start Report Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "name": "Wait 10s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "=http://localhost:8001/api/sprint-report/{{$node[\"Start Report Generation\"].json.job_id}}/status",
        "options": {}
      },
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "operation": "equals",
              "value2": "completed"
            }
          ]
        }
      },
      "name": "Is Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Build approval form URL\nconst jobId = $node['Start Report Generation'].json.job_id;\nconst webhookUrl = $node['Human Approval Wait'].json.resumeUrl;\n\nconst approvalUrl = `http://localhost:8001/api/sprint-report/${jobId}/approve-form?webhook_url=${encodeURIComponent(webhookUrl)}`;\n\nreturn {\n  job_id: jobId,\n  approval_url: approvalUrl,\n  sprint_id: $node['Parse Input'].json.sprint_id,\n  recipients: $node['Parse Input'].json.recipients\n};"
      },
      "name": "Build Approval URL",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "={{$node[\"Start Report Generation\"].json.job_id}}"
        }
      },
      "name": "Human Approval Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1650, 200],
      "notes": "Pauses workflow until approval form submits decision"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.body.approved}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "url": "=http://localhost:8001/api/sprint-report/{{$node[\"Start Report Generation\"].json.job_id}}/download",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2050, 100]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toRecipients": "={{$node[\"Parse Input\"].json.recipients}}",
        "subject": "=Sprint {{$node[\"Parse Input\"].json.sprint_id}} Report",
        "bodyContent": "=Please see the attached Sprint Report.\n\nGenerated: {{$now.format('YYYY-MM-DD HH:mm')}}\nSprint ID: {{$node[\"Parse Input\"].json.sprint_id}}",
        "additionalFields": {
          "attachments": "={{$binary}}"
        }
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [2250, 100],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "1",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {},
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Sprint report sent successfully\",\n  \"sprint_id\": \"{{$node[\"Parse Input\"].json.sprint_id}}\",\n  \"recipients\": \"{{$node[\"Parse Input\"].json.recipients}}\"\n}"
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2450, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {},
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Report generation failed or timed out\",\n  \"sprint_id\": \"{{$node[\"Parse Input\"].json.sprint_id}}\"\n}"
      },
      "name": "Failure Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {},
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Report rejected by reviewer\",\n  \"reason\": \"{{$json.body.rejection_reason}}\",\n  \"sprint_id\": \"{{$node[\"Parse Input\"].json.sprint_id}}\"\n}"
      },
      "name": "Rejection Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2050, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]]
    },
    "Parse Input": {
      "main": [[{ "node": "Start Report Generation", "type": "main", "index": 0 }]]
    },
    "Start Report Generation": {
      "main": [[{ "node": "Wait 10s", "type": "main", "index": 0 }]]
    },
    "Wait 10s": {
      "main": [[{ "node": "Check Status", "type": "main", "index": 0 }]]
    },
    "Check Status": {
      "main": [[{ "node": "Is Completed?", "type": "main", "index": 0 }]]
    },
    "Is Completed?": {
      "main": [
        [{ "node": "Build Approval URL", "type": "main", "index": 0 }],
        [{ "node": "Wait 10s", "type": "main", "index": 0 }]
      ]
    },
    "Build Approval URL": {
      "main": [[{ "node": "Human Approval Wait", "type": "main", "index": 0 }]]
    },
    "Human Approval Wait": {
      "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]]
    },
    "Approved?": {
      "main": [
        [{ "node": "Download PDF", "type": "main", "index": 0 }],
        [{ "node": "Rejection Response", "type": "main", "index": 0 }]
      ]
    },
    "Download PDF": {
      "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]]
    },
    "Send Email": {
      "main": [[{ "node": "Success Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-09T00:00:00.000Z",
  "versionId": "1"
}
